---
import { getCollection, render } from "astro:content";
import RootLayout from "../layouts/Root.astro";
import { formatDate } from "../util";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");

  return blogs.map((blog) => ({
    params: { blog: blog.id },
    props: blog,
  }));
}

const blog = Astro.props;
const { title, subtitle } = blog.data;
const { Content } = await render(blog);
---

<RootLayout {title} {subtitle} slug={blog.id}>
  <section class="flex justify-between">
    <a class="text-blue-400" href="/">&lsaquo; Home</a>
    <p class="text-muted">
      {formatDate(blog.data.published, "full")}
    </p>
  </section>

  <section>
    <h1 class="text-6xl font-medium dark:text-white">{title}</h1>
    <p class="text-muted">{subtitle}</p>
  </section>

  <section class="flex flex-col gap-6" id="blog">
    <Content />
  </section>
</RootLayout>
