---
import { getCollection } from "astro:content";
import RootLayout from "../layouts/Root.astro";
import { render } from "astro:content";
import { formatDate } from "../util";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");

  return blogs.map((blog) => ({
    params: { blog: blog.id },
    props: blog,
  }));
}

const blog = Astro.props;
const { title, subtitle } = blog.data;
const { Content } = await render(blog);
---

<RootLayout {title} {subtitle} slug={blog.id}>
  <section class="header">
    <a class="text-blue-400" href="/">&lsaquo; Home</a>
    <p class="text-muted">
      {formatDate(blog.data.published, "full")}
    </p>
  </section>

  <h1 class="font-medium dark:text-white text-6xl">{title}</h1>

  <section class="box">
    <p>{subtitle}</p>
  </section>

  <section class="flex flex-col gap-6" id="blog">
    <Content />
  </section>
</RootLayout>
