---
import { getCollection, render } from "astro:content";
import RootLayout from "../layouts/Root.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { note: note.id },
    props: note,
  }));
}

const note = Astro.props;
const { title, subtitle } = note.data;
const { Content } = await render(note);
---

<script>
  document.addEventListener("keyup", ({ key }) => {
    const home = document.getElementById("home");
    if (!home || key !== "Escape") return;
    home.click();
  });
</script>

<RootLayout {title} {subtitle} slug={note.id}>
  <section class="flex items-center justify-between">
    <a class="text-secondary font-medium" id="home" href="/">
      &lsaquo; Home
      <span class="text-muted hidden text-xs font-normal sm:inline">
        [esc]
      </span>
    </a>
    <p class="text-muted text-sm">
      {note.data.published.toLocaleDateString("en-GB", { dateStyle: "full" })}
    </p>
  </section>

  <section class="flex flex-col gap-2">
    <h1 class="standout-text-colour text-5xl font-medium">{title}</h1>
    <p class="text-muted text-sm">{subtitle}</p>
  </section>

  <section class="flex flex-col gap-6" id="note">
    <Content />
  </section>
</RootLayout>
