---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import GitHubIcon from "../assets/github-icon.svg";
import PlusIcon from "../assets/plus-icon.svg";
import TwitterIcon from "../assets/twitter-icon.svg";
import RootLayout from "../layouts/Root.astro";
import { relativeDate } from "../util";

const notes = (await getCollection("notes")).sort(
  (a, b) => b.data.published.getTime() - a.data.published.getTime(),
);
---

<script>
  document.addEventListener("keyup", (event) => {
    const note = document.getElementById(`note-${event.key}`);
    if (!note) return;
    note.click();
  });
</script>

<RootLayout
  title="Home"
  subtitle="Brook Nash's personal website."
  slug="hello-world"
>
  <section class="flex items-center justify-between">
    <h1 class="standout-text-colour font-medium">Brook Nash</h1>
    <div class="flex items-center gap-2">
      <p class="text-muted text-sm">Software Engineer</p>
      <Image
        class="size-6"
        width="6"
        height="6"
        loading="eager"
        src="/favicon.png"
        alt="Younger me"
      />
    </div>
  </section>

  <div class="relative">
    <div
      class="animate-end-to-end bg-secondary absolute size-[5px] rounded-full"
    >
    </div>
  </div>

  <p class="text-center">
    I'm a Software Engineer currently working full-time on
    <strong>very legacy architecture</strong> in Wales, United Kingdom.
  </p>

  <section class="flex items-center justify-between">
    <h2>Notes</h2>
    <p class="text-muted text-sm">Learnings, code snippets and less</p>
  </section>

  <section class="relative">
    <span class="absolute left-0">
      <PlusIcon />
    </span>
    <span class="absolute right-0">
      <PlusIcon />
    </span>
    <p class="dotted-background p-6 text-center">
      Sometimes local notes are not enough for me, so I place information here I
      want to store for later. These notes are <strong>not necessarily</strong>
      articles so expect a lack of context, setup or instructions.
    </p>
    <span class="absolute bottom-0 left-0">
      <PlusIcon />
    </span>
    <span class="absolute right-0 bottom-0">
      <PlusIcon />
    </span>
  </section>

  <section class="flex flex-col gap-2">
    {
      notes.map(({ id, data }, index) => {
        const { title, published } = data;
        return (
          <a
            class="group flex justify-between"
            id={`note-${index}`}
            href={id}
            {title}
          >
            <p class="standout-text-colour max-w-3/4 truncate">{title}</p>
            <p class="text-muted group-hover:standout-text-colour text-sm transition-colors">
              {relativeDate(published)}
              <span class="text-muted hidden text-xs sm:inline">[{index}]</span>
            </p>
          </a>
        );
      })
    }
  </section>

  <section class="*:text-secondary mt-auto flex justify-center gap-4 *:text-sm">
    <a class="flex items-center gap-2" href="https://x.com/brooknullsh">
      <TwitterIcon />
      Twitter &#8599
    </a>

    <a class="flex items-center gap-2" href="https://github.com/brooknullsh">
      <GitHubIcon />
      GitHub &#8599
    </a>
  </section>
</RootLayout>
